<%- include('includes/head') %>

<div class="bt-content-wrap btClear">
    <div class="bt-blog-header-content">
        <section id="bt_bb_section6638a42338ff5"
            class="bt_bb_section bt_bb_color_scheme_1 bt_bb_layout_boxed_1200 bt_bb_vertical_align_top bt_bb_bottom_section_coverage_image bt_bb_section_with_bottom_coverage_image bt_bb_top_spacing_medium bt_bb_bottom_spacing_medium"
            style="; --section-primary-color:#ffffff; --section-secondary-color:#2b2c2e;"
            data-bt-override-class="{&quot;bt_bb_top_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_top_spacing_medium&quot;,&quot;xxl&quot;:&quot;medium&quot;,&quot;xl&quot;:&quot;medium&quot;},&quot;bt_bb_bottom_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_bottom_spacing_medium&quot;,&quot;xxl&quot;:&quot;medium&quot;,&quot;xl&quot;:&quot;medium&quot;}}">
            <div class="bt_bb_background_image_holder_wrapper">
                <div class="bt_bb_background_image_holder btLazyLoadBackground bt_bb_parallax"
                    data-background_image_src="https://lycka.bold-themes.com/trendy/wp-content/uploads/sites/2/2022/03/featured_image_portfolio.jpg"
                    data-parallax="0.7" data-parallax-offset="0" data-parallax-zoom-start="1" data-parallax-zoom-end="1"
                    data-parallax-blur-start="0" data-parallax-blur-end="0" data-parallax-opacity-start="1"
                    data-parallax-opacity-end="1"
                    style=" background-image: url(&#039;https://lycka.bold-themes.com/trendy/wp-content/plugins/bold-page-builder/img/blank.gif&#039;);">
                </div>
            </div>
            <div class="bt_bb_port">
                <div class="bt_bb_cell">
                    <div class="bt_bb_cell_inner">
                        <div class="bt_bb_row_wrapper">
                            <div class="bt_bb_row" data-bt-override-class="{}">
                                <div class="bt_bb_column col-xxl-6 col-xl-6 col-xs-12 col-sm-12 col-md-8 col-lg-6 bt_bb_vertical_align_top bt_bb_align_left bt_bb_padding_none bt_bb_animation_fade_in animate"
                                    data-width="6"
                                    data-bt-override-class="{&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_left&quot;,&quot;xxl&quot;:&quot;left&quot;,&quot;xl&quot;:&quot;left&quot;},&quot;bt_bb_padding_&quot;:{&quot;current_class&quot;:&quot;bt_bb_padding_none&quot;,&quot;xxl&quot;:&quot;none&quot;,&quot;xl&quot;:&quot;none&quot;}}">
                                    <div class="bt_bb_column_content">
                                        <div class="bt_bb_column_content_inner">
                                            <div class="bt_bb_separator_v2 bt_bb_border_style_none bt_bb_top_spacing_none bt_bb_bottom_spacing_large bt_bb_icon_size_normal bt_bb_text_size_normal bt_bb_separator_v2_without_content"
                                                data-bt-override-class="{&quot;bt_bb_top_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_top_spacing_none&quot;,&quot;xxl&quot;:&quot;none&quot;,&quot;xl&quot;:&quot;none&quot;},&quot;bt_bb_bottom_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_bottom_spacing_large&quot;,&quot;xxl&quot;:&quot;large&quot;,&quot;xl&quot;:&quot;large&quot;}}">
                                                <div class="bt_bb_separator_v2_inner"><span
                                                        class="bt_bb_separator_v2_inner_before"></span><span
                                                        class="bt_bb_separator_v2_inner_content"><span data-ico-=""
                                                            class="bt_bb_icon_holder"></span></span><span
                                                        class="bt_bb_separator_v2_inner_after"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bt_bb_column col-xxl-6 col-xl-6 col-xs-12 col-sm-12 col-md-4 col-lg-6 bt_bb_vertical_align_bottom bt_bb_align_right bt_bb_padding_none bt_bb_animation_fade_in animate"
                                    data-width="6"
                                    data-bt-override-class="{&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_right&quot;,&quot;xxl&quot;:&quot;right&quot;,&quot;xl&quot;:&quot;right&quot;},&quot;bt_bb_padding_&quot;:{&quot;current_class&quot;:&quot;bt_bb_padding_none&quot;,&quot;xxl&quot;:&quot;none&quot;,&quot;xl&quot;:&quot;none&quot;}}">
                                    <div class="bt_bb_column_content">
                                        <div class="bt_bb_column_content_inner">
                                            <div class="bt_bb_floating_image bt_bb_floating_image_horizontal_position_right bt_bb_floating_image_vertical_position_bottom bt_bb_floating_image_animation_delay_default bt_bb_floating_image_animation_duration_default bt_bb_floating_image_animation_style_ease_out bt_bb_hidden_xs bt_bb_hidden_ms bt_bb_hidden_sm"
                                                style="right: -7em; bottom: -7em; z-index: 999;" data-speed="0.4"
                                                data-direction="">
                                                <div class="bt_bb_floating_image_image" data-speed="0.4"
                                                    data-direction="">
                                                    <div class="bt_bb_image" data-bt-override-class="{}"><span><img
                                                                width="310" height="240"
                                                                src="https://lycka.bold-themes.com/trendy/wp-content/uploads/sites/2/2021/12/floating_image_04.png"
                                                                class="attachment-full size-full"
                                                                alt="https://lycka.bold-themes.com/trendy/wp-content/uploads/sites/2/2021/12/floating_image_04.png"
                                                                data-full_image_src="https://lycka.bold-themes.com/trendy/wp-content/uploads/sites/2/2021/12/floating_image_04.png"
                                                                title="floating_image_04" decoding="async"
                                                                fetchpriority="high" /></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- cell_inner -->
                </div><!-- cell -->
            </div><!-- port -->
            <div class="bt_bb_section_bottom_section_coverage_image"><img
                    src="https://lycka.bold-themes.com/trendy/wp-content/uploads/sites/2/2021/12/white_bottom_01.png"
                    alt="bt_bb_section_bottom_section_coverage_image" /></div>
        </section>
    </div>
    <div class="bt-content-holder">

        <div class="bt-content">
            <article
                class="btPostSingleItemStandard btPortfolioSingle gutter post-57 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio_category-couples">
                <div class="port">
                    <div class="btPostContentHolder">
                        <div class="btArticleHeadline">
                            <header
                                class="bt_bb_headline bt_bb_superheadline bt_bb_superheadline_outside bt_bb_size_large"
                                data-bt-override-class="{}">
                                <div class="bt_bb_headline_superheadline_outside"><span
                                        class="bt_bb_headline_superheadline"><span class="btArticleCategories"><a
                                                href=""
                                                class="btArticleCategory couples">Threapy</a></span></span></div>
                                <h1 class="bt_bb_headline_tag"><span class="bt_bb_headline_content"><span><%= blog.title %></span></span></h1>
                            </header>
                        </div><!-- /btArticleHeadline -->
                        <div class="btArticleMedia">
                            <div class="btMediaBox">
                                <div
                                    class="bt_bb_slider bt_bb_height_auto bt_bb_show_dots_bottom bt_bb_animation_fade animate">
                                    <div class="slick-slider fade"
                                        data-slick='{ "lazyLoad": "progressive", "cssEase": "ease-out", "speed": "300", "fade": true, "adaptiveHeight": true, "dots": true, "prevArrow": "&lt;button type=\"button\" class=\"slick-prev\" aria-label=\"Previous\" tabindex=\"0\" role=\"button\"&gt;&lt;/button&gt;", "nextArrow": "&lt;button type=\"button\" class=\"slick-next\" aria-label=\"Next\" tabindex=\"0\" role=\"button\"&gt;&lt;/button&gt;", "autoplay": true, "autoplaySpeed": 3000}'>
                                        <div class="bt_bb_slider_item"
                                            data-src-full="../uploads/<%= blog.imageUrl %>">
                                            <img src="../uploads/<%= blog.imageUrl %>"
                                                alt="portfolio_04" title="portfolio_04"></div>
                                        <!-- <div class="bt_bb_slider_item"
                                            data-src-full="../uploads/<%= blog.imageUrl %>">
                                            <img src="../uploads/<%= blog.imageUrl %>"
                                                alt="portfolio_03" title="portfolio_03"></div>
                                        <div class="bt_bb_slider_item"
                                            data-src-full="../uploads/<%= blog.imageUrl %>">
                                            <img src="../uploads/<%= blog.imageUrl %>"
                                                alt="portfolio_02" title="portfolio_02"></div>
                                        <div class="bt_bb_slider_item"
                                            data-src-full="../uploads/<%= blog.imageUrl %>">
                                            <img src="../uploads/<%= blog.imageUrl %>"
                                                alt="portfolio_06" title="portfolio_06"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div><!-- /btArticleMedia -->
                        <div class="btArticleContent">
                            <div class="btArticleContentInner">
                                <div class="bt_bb_wrapper">
                                    <p><%- blog.content %></p>
                                </div>
                            </div>
                            <div class="btArticleSuperMeta">
                                <dl>
                                    <dt>Location:</dt>
                                    <dd>INDIA</dd>
                                    <dt>Date:</dt>
                                    <dd><%= blog.createdAt.toLocaleDateString('en-US', { month: 'long', day: '2-digit', year: 'numeric' }) %></dd>
                                    <dt>Tags:</dt>
                                    <dd> <% blog.tags.forEach(tag => { %>
                                        <span class="inline-block bg-gray-200 text-gray-800 rounded-full px-3 py-1 text-sm font-semibold mr-2 mb-2"><%= tag %></span>
                                    <% }) %></dd>
                                    <dt>Author:</dt>
                                    <dd><%= blog.author %></dd>
                                </dl>
                                <div class="btShareRow">
                                    <div
                                        class="bt_bb_icon btIcoFacebook bt_bb_style_filled bt_bb_size_xsmall bt_bb_shape_circle">
                                        <a href=""
                                            target="_self" title="Share on Facebook" data-ico-fa="&#xf09a;"
                                            class="bt_bb_icon_holder"></a></div>
                                    <div
                                        class="bt_bb_icon btIcoTwitter bt_bb_style_filled bt_bb_size_xsmall bt_bb_shape_circle">
                                        <a href=""
                                            target="_self" title="Share on Twitter" data-ico-fa="&#xf099;"
                                            class="bt_bb_icon_holder"></a></div>
                                    <div
                                        class="bt_bb_icon btIcoLinkedin bt_bb_style_filled bt_bb_size_xsmall bt_bb_shape_circle">
                                        <a href=""
                                            target="_self" title="Share on Linkedin" data-ico-fa="&#xf0e1;"
                                            class="bt_bb_icon_holder"></a></div>
                                    <div
                                        class="bt_bb_icon btIcoWhatsApp bt_bb_style_filled bt_bb_size_xsmall bt_bb_shape_circle">
                                        <a href=""
                                            target="_self" title="Share on WhatsApp" data-ico-fa="&#xf232;"
                                            class="bt_bb_icon_holder"></a></div>
                                </div><!-- /btShareRow -->
                            </div><!-- /btArticleSuperMeta -->
                        </div><!-- /btArticleContent -->
                    </div><!-- /btPostContentHolder -->
                </div><!-- /port -->
            </article>
          
       

        </div><!-- /boldthemes_content -->

    </div>
</div>
<%- include('includes/footer') %>