<%- include('includes/head') %>

<div class="bt-content-wrap btClear">
    <div class="bt-content-holder">

        <div class="bt-content">
            <div class="bt_bb_wrapper">
                <section id="bt_bb_section6638a35aef322"
                    class="bt_bb_section bt_bb_color_scheme_1 bt_bb_layout_boxed_1200 bt_bb_vertical_align_top bt_bb_bottom_section_coverage_image bt_bb_section_with_bottom_coverage_image bt_bb_top_spacing_large bt_bb_bottom_spacing_large"
                    style="; --section-primary-color:#ffffff; --section-secondary-color:#2b2c2e;"
                    data-bt-override-class="{&quot;bt_bb_top_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_top_spacing_large&quot;,&quot;xxl&quot;:&quot;large&quot;,&quot;xl&quot;:&quot;large&quot;},&quot;bt_bb_bottom_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_bottom_spacing_large&quot;,&quot;xxl&quot;:&quot;large&quot;,&quot;xl&quot;:&quot;large&quot;}}">
                    <div class="bt_bb_background_image_holder_wrapper">
                        <div class="bt_bb_background_image_holder btLazyLoadBackground bt_bb_parallax"
                            data-background_image_src="../uploads/sites/2/2022/03/featured_image_portfolio.jpg"
                            data-parallax="0.7" data-parallax-offset="0" data-parallax-zoom-start="1"
                            data-parallax-zoom-end="1" data-parallax-blur-start="0" data-parallax-blur-end="0"
                            data-parallax-opacity-start="1" data-parallax-opacity-end="1"
                            style=" background-image: url(&#039;../plugins/bold-page-builder/img/blank.gif&#039;);">
                        </div>
                    </div>
                    <div class="bt_bb_port">
                        <div class="bt_bb_cell">
                            <div class="bt_bb_cell_inner">
                                <div class="bt_bb_row_wrapper">
                                    <div class="bt_bb_row" data-bt-override-class="{}">
                                        <div class="bt_bb_column col-xxl-8 col-xl-8 col-xs-12 col-sm-12 col-md-12 col-lg-8 bt_bb_vertical_align_top bt_bb_align_left bt_bb_padding_none bt_bb_animation_fade_in animate"
                                            data-width="8"
                                            data-bt-override-class="{&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_left&quot;,&quot;xxl&quot;:&quot;left&quot;,&quot;xl&quot;:&quot;left&quot;},&quot;bt_bb_padding_&quot;:{&quot;current_class&quot;:&quot;bt_bb_padding_none&quot;,&quot;xxl&quot;:&quot;none&quot;,&quot;xl&quot;:&quot;none&quot;}}">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <div class="bt_bb_separator_v2 bt_bb_border_style_none bt_bb_top_spacing_none bt_bb_bottom_spacing_medium bt_bb_icon_size_normal bt_bb_text_size_normal bt_bb_separator_v2_without_content bt_bb_hidden_xs bt_bb_hidden_ms"
                                                        data-bt-override-class="{&quot;bt_bb_top_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_top_spacing_none&quot;,&quot;xxl&quot;:&quot;none&quot;,&quot;xl&quot;:&quot;none&quot;},&quot;bt_bb_bottom_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_bottom_spacing_medium&quot;,&quot;xxl&quot;:&quot;medium&quot;,&quot;xl&quot;:&quot;medium&quot;}}">
                                                        <div class="bt_bb_separator_v2_inner"><span
                                                                class="bt_bb_separator_v2_inner_before"></span><span
                                                                class="bt_bb_separator_v2_inner_content"><span
                                                                    data-ico-=""
                                                                    class="bt_bb_icon_holder"></span></span><span
                                                                class="bt_bb_separator_v2_inner_after"></span></div>
                                                    </div>
                                                    <header
                                                        class="bt_bb_headline bt_bb_supertitle_color_scheme_1 bt_bb_dash_none bt_bb_superheadline bt_bb_superheadline_outside bt_bb_size_large bt_bb_align_inherit"
                                                        style="; --headline-supertitle-primary-color:#ffffff; --headline-supertitle-secondary-color:#2b2c2e;"
                                                        data-bt-override-class="{&quot;bt_bb_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_size_large&quot;,&quot;xxl&quot;:&quot;large&quot;,&quot;xl&quot;:&quot;large&quot;},&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_inherit&quot;,&quot;xxl&quot;:&quot;inherit&quot;,&quot;xl&quot;:&quot;inherit&quot;}}">
                                                        <div class="bt_bb_headline_superheadline_outside"><span
                                                                class="bt_bb_headline_superheadline">OUR
                                                                PORTFOLIO</span></div>
                                                        <h1 class="bt_bb_headline_tag"><span
                                                                class="bt_bb_headline_content"><span>Effective Therapies
                                                                    That Worked <i><u>Successfully</u></i></span></span>
                                                        </h1>
                                                    </header>
                                                    <div class="bt_bb_separator_v2 bt_bb_border_style_none bt_bb_top_spacing_none bt_bb_bottom_spacing_normal bt_bb_icon_size_normal bt_bb_text_size_normal bt_bb_separator_v2_without_content bt_bb_hidden_xs bt_bb_hidden_ms"
                                                        data-bt-override-class="{&quot;bt_bb_top_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_top_spacing_none&quot;,&quot;xxl&quot;:&quot;none&quot;,&quot;xl&quot;:&quot;none&quot;},&quot;bt_bb_bottom_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_bottom_spacing_normal&quot;,&quot;xxl&quot;:&quot;normal&quot;,&quot;xl&quot;:&quot;normal&quot;}}">
                                                        <div class="bt_bb_separator_v2_inner"><span
                                                                class="bt_bb_separator_v2_inner_before"></span><span
                                                                class="bt_bb_separator_v2_inner_content"><span
                                                                    data-ico-=""
                                                                    class="bt_bb_icon_holder"></span></span><span
                                                                class="bt_bb_separator_v2_inner_after"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bt_bb_column col-xxl-4 col-xl-4 col-xs-12 col-sm-12 col-md-12 col-lg-4 bt_bb_vertical_align_bottom bt_bb_align_right bt_bb_padding_none bt_bb_animation_fade_in animate"
                                            data-width="4"
                                            data-bt-override-class="{&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_right&quot;,&quot;xxl&quot;:&quot;right&quot;,&quot;xl&quot;:&quot;right&quot;},&quot;bt_bb_padding_&quot;:{&quot;current_class&quot;:&quot;bt_bb_padding_none&quot;,&quot;xxl&quot;:&quot;none&quot;,&quot;xl&quot;:&quot;none&quot;}}">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <div class="bt_bb_floating_image bt_bb_floating_image_horizontal_position_right bt_bb_floating_image_vertical_position_bottom bt_bb_floating_image_animation_delay_default bt_bb_floating_image_animation_duration_default bt_bb_floating_image_animation_style_ease_out bt_bb_hidden_xs bt_bb_hidden_ms bt_bb_hidden_sm"
                                                        style="right: -7em; bottom: -7em; z-index: 999;"
                                                        data-speed="0.4" data-direction="">
                                                        <div class="bt_bb_floating_image_image" data-speed="0.4"
                                                            data-direction="">
                                                            <div class="bt_bb_image" data-bt-override-class="{}">
                                                                <span><img fetchpriority="high" decoding="async"
                                                                        width="310" height="240"
                                                                        src="../uploads/sites/2/2021/12/floating_image_04.png"
                                                                        class="attachment-full size-full"
                                                                        alt="../uploads/sites/2/2021/12/floating_image_04.png"
                                                                        data-full_image_src="../uploads/sites/2/2021/12/floating_image_04.png"
                                                                        title="floating_image_04" /></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- cell_inner -->
                        </div><!-- cell -->
                    </div><!-- port -->
                    <div class="bt_bb_section_bottom_section_coverage_image"><img decoding="async"
                            src="../uploads/sites/2/2021/12/grey_bottom_01.png"
                            alt="bt_bb_section_bottom_section_coverage_image" /></div>
                </section>
                <section id="bt_bb_section6638a35aef909"
                class="bt_bb_section bt_bb_color_scheme_13 bt_bb_layout_boxed_1200 bt_bb_vertical_align_top bt_bb_top_spacing_large bt_bb_bottom_spacing_large"
                style="; --section-primary-color:#2b2c2e; --section-secondary-color:#f1f1f1;"
                data-bt-override-class="{&quot;bt_bb_top_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_top_spacing_large&quot;,&quot;xxl&quot;:&quot;large&quot;,&quot;xl&quot;:&quot;large&quot;},&quot;bt_bb_bottom_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_bottom_spacing_large&quot;,&quot;xxl&quot;:&quot;large&quot;,&quot;xl&quot;:&quot;large&quot;}}">
                <div class="bt_bb_port">
                    <div class="bt_bb_cell">
                        <div class="bt_bb_cell_inner">
                            <div class="bt_bb_row_wrapper">
                                <div class="bt_bb_row" data-bt-override-class="{}">
                                    <div class="bt_bb_column col-xxl-12 col-xl-12 bt_bb_vertical_align_top bt_bb_align_left bt_bb_padding_normal"
                                        data-width="12" data-bt-override-class="{}">
                                        <div class="bt_bb_column_content">
                                            <div class="bt_bb_column_content_inner">
                                                <div class="bt_bb_masonry_post_grid bt_bb_grid_container bt_bb_columns_3 bt_bb_gap_normal"
                                                    data-columns="3">
                                                    <div class="bt_bb_post_grid_filter">    
                                                            <a href="/gallery"><span class="bt_bb_post_grid_filter_item active"
                                                            data-category="" style="margin-bottom: 120px;">All</span></a>
                                                            <a href="/gallery?type=image"><span class="bt_bb_post_grid_filter_item"
                                                                data-category="business">Images</span></a>
                                                            <a href="/gallery?type=video"><span class="bt_bb_post_grid_filter_item"
                                                                data-category="counseling">Video</span></a>
                                                    <div class="bt_bb_masonry_post_grid_content bt_bb_grid_hide"
                                                        data-bt-bb-masonry-post-grid-nonce="1cfb51fb4d"
                                                        data-number="1000" data-category=""
                                                        data-show="%7B%22category%22%3Atrue%2C%22date%22%3Afalse%2C%22author%22%3Afalse%2C%22comments%22%3Afalse%2C%22excerpt%22%3Atrue%2C%22share%22%3Atrue%7D"
                                                        data-auto-loading="" data-post-type="portfolio">
                                                        <div class="bt_bb_grid_sizer"></div>
                                                    </div>
                                                    <div class="bt_bb_masonry_post_grid_content masonry" 
                                                            data-bt-bb-masonry-post-grid-nonce="275857e07b"
                                                            data-number="1000" data-category=""
                                                            data-show="%7B%22category%22%3Atrue%2C%22date%22%3Afalse%2C%22author%22%3Afalse%2C%22comments%22%3Afalse%2C%22excerpt%22%3Atrue%2C%22share%22%3Atrue%7D"
                                                            data-auto-loading="" data-post-type="portfolio"
                                                            style="position: relative; height: 1137.6px; margin-top: 12px;">
                                                            <div class="bt_bb_grid_sizer masonry-brick"></div>
                                                            <% if (gallery.length > 0) { %>
                                                                <div class="grid-container" id="gridContainer">
                                                                    <!-- Loop through each gallery item -->
                                                                    <% if (type === 'image') { %>
                                                                        <% gallery.forEach((data, index) => { %>
                                                                            <div class="bt_bb_grid_item masonry-brick" loading="lazy" style="position: absolute;">
                                                                                <div class="bt_bb_grid_item_inner" style="height: 250px;">
                                                                                    <div class="bt_bb_grid_item_post_thumbnail">
                                                                                        <a href="<%= data.link %>" title="<%= data.title %>">
                                                                                            <img src="../uploads/<%= data.imageUrl %>" alt="<%= data.altText %>" style="width: 100%; height: 100%; object-fit: cover;">
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <% }) %>
                                                                        <% } else if (type === 'video') { %>
                                                                            <% gallery.forEach((data, index) => { %>
                                                                                <% if(data.filetype == 'video') { %>
                                                                                    <div class="bt_bb_grid_item masonry-brick" loading="lazy" style="position: absolute;">
                                                                                        <div class="bt_bb_grid_item_inner" style="height: 250px;">
                                                                                            <div class="bt_bb_grid_item_post_thumbnail">
                                                                                                <a href="<%= data.link %>" title="<%= data.title %>">
                                                                                                    <iframe width="420" height="315" src="https://www.youtube.com/embed/<%= data.imageUrl %>"></iframe>
                                                                                                </a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                <%  } %>
                                                                            
                                                                            <% }) %>
                                                                        <% } else { %>
                                                                            <% gallery.forEach((data, index) => { %>
                                                                                <div class="bt_bb_grid_item masonry-brick" loading="lazy" style="position: absolute;">
                                                                                    <div class="bt_bb_grid_item_inner" style="height: 250px;">
                                                                                        <div class="bt_bb_grid_item_post_thumbnail">
                                                                                            <a href="<%= data.link %>" title="<%= data.title %>">
                                                                                                <img src="../uploads/<%= data.imageUrl %>" alt="<%= data.altText %>" style="width: 100%; height: 100%; object-fit: cover;">
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <% }) %>
                                                                            <% } %>
                                                                  
                                                                </div>
                                                            <% } else { %>
                                                                <tr>
                                                                    <td colspan="5" class="px-6 py-4 text-center text-gray-900 dark:text-white">
                                                                        No data found
                                                                    </td>
                                                                </tr>
                                                            <% } %>
                                                            
                                                            <script>
                                                                                                                            window.addEventListener('load', () => {
                                                                const gridContainer = document.getElementById('gridContainer');
                                                                const gridItems = gridContainer.querySelectorAll('.bt_bb_grid_item');

                                                                // Calculate position for each grid item
                                                                let leftPosition = 0;
                                                                let topPosition = 0;
                                                                const itemWidth = 33.3327; // Width of each item in percentage

                                                                gridItems.forEach((item, index) => {
                                                                    item.style.left = `${leftPosition}%`;
                                                                    item.style.top = `${topPosition}px`;

                                                                    leftPosition += itemWidth;
                                                                    if ((index + 1) % 3 === 0) {
                                                                        leftPosition = 0;
                                                                        topPosition += item.offsetHeight; // Adjust top position based on item height
                                                                    }
                                                                });
                                                            });

                                                                                                                        </script>
                                                           
                                                           
                                                        </div>
                                                    <div class="bt_bb_post_grid_loader"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- cell_inner -->
                    </div><!-- cell -->
                </div><!-- port -->
            </section>

                <section id="bt_bb_section6638a35aefde0"
                    class="bt_bb_section bt_bb_color_scheme_6 bt_bb_layout_boxed_1200 bt_bb_vertical_align_top bt_bb_top_section_coverage_image bt_bb_section_with_top_coverage_image bt_bb_bottom_section_coverage_image bt_bb_section_with_bottom_coverage_image bt_bb_top_spacing_medium bt_bb_bottom_spacing_medium"
                    style="; --section-primary-color:#ffffff; --section-secondary-color:#ff9245;"
                    data-bt-override-class="{&quot;bt_bb_top_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_top_spacing_medium&quot;,&quot;xxl&quot;:&quot;medium&quot;,&quot;xl&quot;:&quot;medium&quot;},&quot;bt_bb_bottom_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_bottom_spacing_medium&quot;,&quot;xxl&quot;:&quot;medium&quot;,&quot;xl&quot;:&quot;medium&quot;}}">
                    <div class="bt_bb_port">
                        <div class="bt_bb_cell">
                            <div class="bt_bb_cell_inner">
                                <div class="bt_bb_row_wrapper">
                                    <div class="bt_bb_row" data-bt-override-class="{}">
                                        <div class="bt_bb_column col-xxl-12 col-xl-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 bt_bb_vertical_align_top bt_bb_align_left bt_bb_padding_normal"
                                            data-width="12" data-bt-override-class="{}">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">

                                                    <div class="bt_bb_separator_v2 bt_bb_border_style_none bt_bb_top_spacing_small bt_bb_bottom_spacing_normal bt_bb_border_thickness_1 bt_bb_icon_size_normal bt_bb_text_size_normal bt_bb_separator_v2_without_content"
                                                        data-bt-override-class="{&quot;bt_bb_top_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_top_spacing_small&quot;,&quot;xxl&quot;:&quot;small&quot;,&quot;xl&quot;:&quot;small&quot;},&quot;bt_bb_bottom_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_bottom_spacing_normal&quot;,&quot;xxl&quot;:&quot;normal&quot;,&quot;xl&quot;:&quot;normal&quot;},&quot;bt_bb_border_thickness_&quot;:{&quot;current_class&quot;:&quot;bt_bb_border_thickness_1&quot;,&quot;xxl&quot;:&quot;1&quot;,&quot;xl&quot;:&quot;1&quot;},&quot;bt_bb_icon_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_icon_size_normal&quot;,&quot;xxl&quot;:&quot;normal&quot;,&quot;xl&quot;:&quot;normal&quot;},&quot;bt_bb_text_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_text_size_normal&quot;,&quot;xxl&quot;:&quot;normal&quot;,&quot;xl&quot;:&quot;normal&quot;}}">
                                                        <div class="bt_bb_separator_v2_inner"><span
                                                                class="bt_bb_separator_v2_inner_before"></span><span
                                                                class="bt_bb_separator_v2_inner_content"><span
                                                                    data-ico-=""
                                                                    class="bt_bb_icon_holder"></span></span><span
                                                                class="bt_bb_separator_v2_inner_after"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bt_bb_row_wrapper">
                                    <div class="bt_bb_row" data-bt-override-class="{}">
                                        <div class="bt_bb_column col-xxl-6 col-xl-6 col-xs-12 col-sm-12 col-md-12 col-lg-6 bt_bb_vertical_align_top bt_bb_align_right bt_bb_padding_none bt_bb_animation_fade_in animate"
                                            data-width="6"
                                            data-bt-override-class="{&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_right&quot;,&quot;xxl&quot;:&quot;right&quot;,&quot;xl&quot;:&quot;right&quot;,&quot;md&quot;:&quot;center&quot;,&quot;sm&quot;:&quot;center&quot;,&quot;xs&quot;:&quot;center&quot;},&quot;bt_bb_padding_&quot;:{&quot;current_class&quot;:&quot;bt_bb_padding_none&quot;,&quot;xxl&quot;:&quot;none&quot;,&quot;xl&quot;:&quot;none&quot;}}">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <header
                                                        class="bt_bb_headline bt_bb_dash_light_brush bt_bb_size_normal bt_bb_align_inherit"
                                                        data-bt-override-class="{&quot;bt_bb_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_size_normal&quot;,&quot;xxl&quot;:&quot;normal&quot;,&quot;xl&quot;:&quot;normal&quot;},&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_inherit&quot;,&quot;xxl&quot;:&quot;inherit&quot;,&quot;xl&quot;:&quot;inherit&quot;}}">
                                                        <h3 class="bt_bb_headline_tag"><span
                                                                class="bt_bb_headline_content"><span>Ready to Talk?
                                                                </span></span></h3>
                                                    </header>
                                                    <div class="bt_bb_separator_v2 bt_bb_border_style_none bt_bb_top_spacing_none bt_bb_bottom_spacing_normal bt_bb_border_thickness_1 bt_bb_icon_size_normal bt_bb_text_size_normal bt_bb_separator_v2_without_content"
                                                        data-bt-override-class="{&quot;bt_bb_top_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_top_spacing_none&quot;,&quot;xxl&quot;:&quot;none&quot;,&quot;xl&quot;:&quot;none&quot;},&quot;bt_bb_bottom_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_bottom_spacing_normal&quot;,&quot;xxl&quot;:&quot;normal&quot;,&quot;xl&quot;:&quot;normal&quot;,&quot;md&quot;:&quot;normal&quot;,&quot;sm&quot;:&quot;normal&quot;,&quot;xs&quot;:&quot;normal&quot;},&quot;bt_bb_border_thickness_&quot;:{&quot;current_class&quot;:&quot;bt_bb_border_thickness_1&quot;,&quot;xxl&quot;:&quot;1&quot;,&quot;xl&quot;:&quot;1&quot;},&quot;bt_bb_icon_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_icon_size_normal&quot;,&quot;xxl&quot;:&quot;normal&quot;,&quot;xl&quot;:&quot;normal&quot;},&quot;bt_bb_text_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_text_size_normal&quot;,&quot;xxl&quot;:&quot;normal&quot;,&quot;xl&quot;:&quot;normal&quot;}}">
                                                        <div class="bt_bb_separator_v2_inner"><span
                                                                class="bt_bb_separator_v2_inner_before"></span><span
                                                                class="bt_bb_separator_v2_inner_content"><span
                                                                    data-ico-=""
                                                                    class="bt_bb_icon_holder"></span></span><span
                                                                class="bt_bb_separator_v2_inner_after"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bt_bb_column col-xxl-6 col-xl-6 col-xs-12 col-sm-12 col-md-12 col-lg-6 bt_bb_vertical_align_middle bt_bb_align_left bt_bb_padding_none bt_bb_animation_fade_in animate"
                                            data-width="6"
                                            data-bt-override-class="{&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_left&quot;,&quot;xxl&quot;:&quot;left&quot;,&quot;xl&quot;:&quot;left&quot;,&quot;md&quot;:&quot;center&quot;,&quot;sm&quot;:&quot;center&quot;,&quot;xs&quot;:&quot;center&quot;},&quot;bt_bb_padding_&quot;:{&quot;current_class&quot;:&quot;bt_bb_padding_none&quot;,&quot;xxl&quot;:&quot;none&quot;,&quot;xl&quot;:&quot;none&quot;}}">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <div class="bt_bb_button bt_bb_color_scheme_2 bt_bb_icon_position_left bt_bb_style_filled_alternate bt_bb_size_normal bt_bb_width_inline bt_bb_shape_inherit bt_bb_target_self bt_bb_align_inherit bt_bb_with_arrow_circle"
                                                        style="; --primary-color:#2b2c2e; --secondary-color:#ffffff;"
                                                        data-bt-override-class="{&quot;bt_bb_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_size_normal&quot;,&quot;xxl&quot;:&quot;normal&quot;,&quot;xl&quot;:&quot;normal&quot;},&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_inherit&quot;,&quot;xxl&quot;:&quot;inherit&quot;,&quot;xl&quot;:&quot;inherit&quot;}}">
                                                        <a href="/contact/" target="_self" class="bt_bb_link"
                                                            title="Get In Touch"><span class="bt_bb_button_text">Get In
                                                                Touch</span></a></div>
                                                    <div class="bt_bb_separator_v2 bt_bb_border_style_none bt_bb_top_spacing_none bt_bb_bottom_spacing_normal bt_bb_border_thickness_1 bt_bb_icon_size_normal bt_bb_text_size_normal bt_bb_separator_v2_without_content"
                                                        data-bt-override-class="{&quot;bt_bb_top_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_top_spacing_none&quot;,&quot;xxl&quot;:&quot;none&quot;,&quot;xl&quot;:&quot;none&quot;},&quot;bt_bb_bottom_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_bottom_spacing_normal&quot;,&quot;xxl&quot;:&quot;normal&quot;,&quot;xl&quot;:&quot;normal&quot;},&quot;bt_bb_border_thickness_&quot;:{&quot;current_class&quot;:&quot;bt_bb_border_thickness_1&quot;,&quot;xxl&quot;:&quot;1&quot;,&quot;xl&quot;:&quot;1&quot;},&quot;bt_bb_icon_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_icon_size_normal&quot;,&quot;xxl&quot;:&quot;normal&quot;,&quot;xl&quot;:&quot;normal&quot;},&quot;bt_bb_text_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_text_size_normal&quot;,&quot;xxl&quot;:&quot;normal&quot;,&quot;xl&quot;:&quot;normal&quot;}}">
                                                        <div class="bt_bb_separator_v2_inner"><span
                                                                class="bt_bb_separator_v2_inner_before"></span><span
                                                                class="bt_bb_separator_v2_inner_content"><span
                                                                    data-ico-=""
                                                                    class="bt_bb_icon_holder"></span></span><span
                                                                class="bt_bb_separator_v2_inner_after"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- cell_inner -->
                        </div><!-- cell -->
                    </div><!-- port -->
                    <div class="bt_bb_section_top_section_coverage_image"><img decoding="async"
                            src="../uploads/sites/2/2021/12/grey_top_01.png"
                            alt="bt_bb_section_top_section_coverage_image" /></div>
                    <div class="bt_bb_section_bottom_section_coverage_image"><img decoding="async"
                            src="../uploads/sites/2/2021/12/white_bottom_01.png"
                            alt="bt_bb_section_bottom_section_coverage_image" /></div>
                </section>
            </div>
        </div><!-- /boldthemes_content -->

    </div>
</div>
<%- include('includes/footer') %>